
/*FORM*/
.wrapper{
  background-color: #fff;
    /* border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18); */
    width:360px;
    max-width: 100%;
    margin:0;
    float:right;
    
}
.card-title h2{
  text-align: center;
  color:  rgb(236, 86, 86);
  padding-top: 30px;

}
.form-container{
    background-color: #fff;
    /* border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18); */
    width: 720px;
    max-width: 100%;
    margin-right: 50px;
   
    margin:0;
    float:left;
    padding-top:100px;
    padding-bottom: 100px;
    }
    
    .title{
      border-bottom: 1px solid #f0f0f0;
      padding: 20px 40px;
      padding-top: 100px;
    }
    
    .title h2{
      margin:0;
      text-align: center;
      color:  rgb(236, 86, 86);
    }
    
    
    .form{
      padding: 30px 40px;
    }
    
    .form-control {
      margin-bottom: 10px;
      padding-bottom: 20px;
      position: relative;
    }
    
    .form-control label {
      display: inline-block;
      margin-bottom: 5px;
      text-align: left;
      font-weight: bold;
    }
    
    .form-control input {
      border: 2px solid #f0f0f0;
      border-radius: 4px;
      display: block;
      font-family: inherit;
      font-size: 14px;
      padding: 10px;
      width: 100%;
    }

    .shipping-option{
      border: 2px solid #f0f0f0;
      border-radius: 4px;
      display: block;
      font-family: inherit;
      font-size: 14px;
      padding: 10px;
      width: 100%;
    }
    
    .form-control.success input{
      border-color: #2ecc71;
    }
    
    .form-control.error input{
      border-color: #e74c3c
    }
    
    .form-control i{
      position: absolute;
      top: 40px;
      right: 10px;
      visibility: hidden;
    }
    
    .form-control.success i.fa-check-circle {
      color: #2ecc71;
      visibility: visible;
    }
    .form-control.error i.fa-exclamation-circle {
      color: #e74c3c;
      visibility: visible;
    }
    
    .form-control small{
      visibility: hidden;
      position: absolute;
      bottom: 0;
      left: 0;
    
    }
    
    .form-control.error small{
      color: #e74c3c;
      visibility: visible;
    }
    
    .form button {
      background-color: #3A6073;
      border: 6px solid #3A6073;
      color: #fff;
      display: block;
      font-family: inherit;
      font-size: 16px;
      padding: 10px;
      float: right;
    
    }

    footer{
      padding-top: 100px;
    }
    